<div class="container-fluid">
    <!-- Encabezado -->
    <app-adm-header [descripcion]="'Gestión y mantenimiento de los productos registradas de tu compañia'"
        [breadcrumbs]="[{nombre:'Almacen'},{nombre:'Administración de Productos'}]" [visible]="true"
        [textoBoton]="'Nuevo Producto'" (accionNuevo)="eventoMostrarPopupRegistrar()" [rutaRegreso]="'/inicio'">
    </app-adm-header>
    <!-- Filtros -->
    <app-product-filters [filter]="Filtro" [categories]="ListaCategorias" [brands]="ListaMarcas" (search)="onSearch()"
        (categoryChange)="onCategoryChange()" (brandChange)="onBrandChange()" (statusChange)="onStatusChange()"
        (clear)="clearFilters()">>
    </app-product-filters>
    <!-- Tabla -->
    <app-product-table [companiaActual]="CompaniaActual" [products]="ListaProductos" [loading]="Loading" [total]="TotalRegistros"
        [currentPage]="PaginaActual" [totalPages]="TotalPaginas" (edit)="eventoMostrarPopupEditar($event)"
        (remove)="eventoEliminar($event)" (pageChange)="OnchangedPage($event)">
    </app-product-table>
</div>