<div class="filters-card">
    <div class="row g-3 align-items-end">
        <!-- Buscar -->
        <div class="col-xl-5 col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Buscar producto</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Nombre, código o código de barras..." [(ngModel)]="filter.search"
                    (keyup.enter)="search.emit()">
            </mat-form-field>
        </div>
        <!-- Categoría -->
        <div class="col-xl-2 col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Categoría</mat-label>
                <mat-select [(ngModel)]="filter.category_id" (selectionChange)="categoryChange.emit()">
                    <mat-option [value]="null">Todas</mat-option>
                    <mat-option *ngFor="let item of categories" [value]="item.Id">
                        {{ item.Nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Marca -->
        <div class="col-xl-2 col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Marca</mat-label>
                <mat-select [(ngModel)]="filter.brand_id" (selectionChange)="brandChange.emit()">
                    <mat-option [value]="null">Todas</mat-option>
                    <mat-option *ngFor="let item of brands" [value]="item.Id">
                        {{ item.Nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Estado -->
        <div class="col-xl-2 col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="filter.status" (selectionChange)="statusChange.emit()">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option [value]="1">Activos</mat-option>
                    <mat-option [value]="0">Inactivos</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Limpiar -->
        <div class="col-xl-1 col-md-12 d-grid">
            <button matTooltip="Limpiar Filtros" mat-stroked-button color="warn" class="btn-clear" (click)="clear.emit()">
                <mat-icon>filter_alt_off</mat-icon>
            </button>
        </div>
    </div>
</div>