.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.toast-center-center .ngx-toastr,
.toast-center-center .toast {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
}

//botones primarios
// .btn-principal {
//     height: 44px;
//     padding: 0 20px;
//     border-radius: 14px;
//     background: linear-gradient(135deg, #2563eb, #1d4ed8);
//     color: white;
//     font-weight: 600;
//     box-shadow: none;
//     transition: 0.2s ease;
// }

// .btn-secundario {
//     height: 44px;
//     padding: 0 20px;
//     border-radius: 14px;
//     background: linear-gradient(135deg, #dfe1e4, #dfe1e4);
//     color: #333;
//     font-weight: 600;
//     box-shadow: none;
//     transition: 0.2s ease;
// }

.stock-alerts-dialog .mat-dialog-container {
    padding: 0 !important;
    border-radius: 14px !important;
    overflow: hidden !important;
    box-shadow: 0 20px 55px rgba(15, 23, 42, .22) !important;
}

@media (max-width: 767px) {
    .stock-alerts-dialog .mat-dialog-container {
        border-radius: 10px !important;
    }
}

.stock-alerts-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0 !important;
    border-radius: 14px !important;
    overflow: hidden !important;
}

.help-tutorial-dialog .mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 20px !important;
}

.help-tutorial-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 20px !important;
}

@media (max-width: 576px) {
    .help-tutorial-dialog {
        width: 100vw !important;
        max-width: 100vw !important;
        height: 100vh !important;
    }

    .help-tutorial-dialog .mat-dialog-container {
        border-radius: 0 !important;
    }

    .help-tutorial-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0 !important;
    }
}