<section class="welcome-card">
  <div class="welcome-main">
    <div class="welcome-info">
      <div class="welcome-badge">
        <mat-icon>dashboard</mat-icon>
        Resumen general
      </div>

      <h1>
        Bienvenido,
        <span>{{ nombreUsuario }}</span>
      </h1>

      <p>Consulta rápidamente el estado general de tu negocio.</p>

      <div class="welcome-date">
        <mat-icon>calendar_today</mat-icon>

        <span>
          {{ FechaActual | date: "EEEE, dd MMMM yyyy" }}
        </span>
      </div>
    </div>

    <div class="welcome-illustration">
      <div class="illustration-icon">
        <mat-icon>storefront</mat-icon>
      </div>

      <span>NexoPOS</span>
    </div>
  </div>

  <div class="welcome-stats">
    <article class="stat-card stat-products">
      <div class="stat-icon">
        <mat-icon>inventory_2</mat-icon>
      </div>

      <div class="stat-content">
        <span>Productos registrados</span>

        <strong>
          {{ resumen?.total_products || 0 }}
        </strong>

        <small> Productos disponibles </small>
      </div>
    </article>

    <article class="stat-card stat-sales">
      <div class="stat-icon">
        <mat-icon>trending_up</mat-icon>
      </div>

      <div class="stat-content">
        <span>Ventas del mes</span>

        <strong>
          {{ moneda }}
          {{ resumen?.sales_month || "0.00" }}
        </strong>

        <small> Ingresos acumulados </small>
      </div>
    </article>

    <article class="stat-card stat-purchases">
      <div class="stat-icon">
        <mat-icon>shopping_cart</mat-icon>
      </div>

      <div class="stat-content">
        <span>Compras del mes</span>

        <strong>
          {{ moneda }}
          {{ resumen?.purchases_month || "0.00" }}
        </strong>

        <small> Egresos registrados </small>
      </div>
    </article>
  </div>
</section>