<div class="sale-item mt-2">
    <div class="sale-main">
        <div class="sale-left">
            <div class="status-dot" [ngClass]="{
                'completed': sale.Estado == 'COMPLETED',
                'pending': sale.Estado == 'PENDING',
                'cancelled': sale.Estado == 'CANCELLED'
            }">
            </div>
            <div class="sale-content">
                <div class="sale-top">
                    <div class="sale-info">
                        <div class="document">
                            {{sale.Documento}}
                        </div>
                        <div class="customer">
                            <mat-icon>person</mat-icon> Cliente: 
                            {{sale.NombreCliente}}
                        </div>
                    </div>
                    <div class="sale-right">
                        <div class="amount">
                            S/ {{sale.Total | number:'1.2-2'}}
                        </div>
                        <span class="badge" [ngClass]="{
                                'badge-success': sale.Estado=='COMPLETED',
                                'badge-warning': sale.Estado=='PENDING',
                                'badge-danger': sale.Estado=='CANCELLED'
                            }">
                            {{sale.EstadoLabel}}
                        </span>
                    </div>
                </div>
                <div class="meta">
                    <span>
                        <mat-icon>inventory_2</mat-icon>
                        {{sale.ProductoTotales}} Productos
                    </span>
                    <span>
                        <mat-icon>payments</mat-icon>
                        {{sale.MetodoPago}}
                    </span>
                    <span>
                        <mat-icon>badge</mat-icon> Registrado por: 
                        {{sale.NombreUsuarioRegistrador}}
                    </span>
                    <span>
                        <mat-icon>calendar_today</mat-icon> Fecha Venta: 
                        {{sale.FechaVenta}}
                    </span>
                </div>
            </div>
        </div>
        <div class="sale-actions">
            <button mat-stroked-button color="primary" (click)="view.emit(sale)">
                <mat-icon>visibility</mat-icon>
                Ver detalle
            </button>
            <button *ngIf="sale.Estado=='COMPLETED'" mat-flat-button color="warn" (click)="cancel.emit(sale)">
                <mat-icon>cancel</mat-icon>
                Anular
            </button>
        </div>
    </div>
</div>