<div class="container-fluid">
    <!-- Loading -->
    <div class="dashboard-loading" *ngIf="Loading">
        <mat-spinner diameter="45"></mat-spinner>
    </div>
    <ng-container *ngIf="!Loading">
        <!-- Bienvenida -->
        <app-welcome-card [moneda]="CompaniaActual.SimboloMoneda" [usuario]="UsuarioActual" [resumen]="Resumen">
        </app-welcome-card>

        <div *ngIf="tienePermiso(Role, ['administrator'])" class="row mt-1">
            <div class="col-lg-12">
                <mat-card class="quick-access-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon color="primary" class="me-2">bolt</mat-icon>
                            Accesos rápidos
                        </mat-card-title>
                        <mat-card-subtitle>
                            Funciones más utilizadas
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row g-2">
                            <div class="col-3" *ngFor="let item of AccesosRapidos">
                                <button mat-stroked-button class="quick-btn w-100" [routerLink]="item.ruta">
                                    <mat-icon color="primary">{{item.icono}}</mat-icon>
                                    <small>{{item.nombre}}</small>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="tienePermiso(Role, ['administrator'])" class="row mt-1">
            <div class="col-lg-6">
                <app-top-products [moneda]="CompaniaActual.SimboloMoneda" [data]="ProductosDestacados">
                </app-top-products>
            </div>
            <div class="col-lg-6">
                <app-top-categories [moneda]="CompaniaActual.SimboloMoneda" [data]="CategoriasDestacadas">
                </app-top-categories>
            </div>
        </div>
    </ng-container>
</div>