<!-- administracion-tipo-incidencias.component.html -->

<div class="contenedor-admin">
    <!-- HEADER -->
    <app-adm-header [descripcion]="'Gestión y mantenimiento de categorías registradas'"
        [breadcrumbs]="[{nombre:'Almacen'},{nombre:'Administración de Categorías'}]" [visible]="true"
        [textoBoton]="'Nueva Categoria'" (accionNuevo)="eventoMostrarPopupRegistrar()" [rutaRegreso]="'/inicio'">
    </app-adm-header>
    <!-- TABLA -->
    <div class="table-container">
        <!-- LOADING -->
        <div *ngIf="Loading" class="loading-overlay">
            <div class="loading-box">
                <mat-spinner diameter="42"></mat-spinner>
                <span>
                    Cargando categorías...
                </span>
            </div>
        </div>
        <!-- TABLA -->
        <div class="table-responsive">
            <table mat-table [dataSource]="ListaCategorias" class="tabla-admin">
                <!-- NOMBRE -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="nombre-box">
                            <div>
                                <div class="nombre-principal">
                                    {{element.Nombre}}
                                </div>
                                <!-- <div class="codigo-secundario">
                                    Tipo de incidencia
                                </div> -->
                            </div>
                        </div>
                    </td>
                </ng-container>
                <!-- ESTADO -->
                <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="badge-estado" [ngClass]="{
                                'estado-activo': element.Estado === 'Activo',
                                'estado-inactivo': element.Estado !== 'Activo'
                            }">
                            {{element.Estado}}
                        </span>
                    </td>
                </ng-container>
                <!-- ACCIONES -->
                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef>
                        Acciones
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="acciones-box">
                            <button (click)="eventoMostrarPopupEditar(element)" mat-icon-button
                                class="btn-accion btn-editar" matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="eventoEliminar(element)" mat-icon-button class="btn-accion btn-eliminar"
                                matTooltip="Eliminar">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fila-tabla">
                </tr>
            </table>
        </div>
        <!-- PAGINADOR -->
        <app-adm-paginator [PaginaActual]="PaginaActual" [TotalPaginas]="TotalPaginas"
            (cambiarPaginaEvent)="OnchangedPage($event)">
        </app-adm-paginator>
    </div>
</div>