<p>modal-unidad works!</p>
<h2 mat-dialog-title>{{TituloPopup}}</h2>
<div mat-dialog-content>
    <div class="row" *ngIf="Form" [formGroup]="Form">
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Nombre <span style="color:red;">(*)</span></mat-label>
            <input [disabled]="Loading" matInput formControlName="name" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('name')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Abreviacion <span style="color:red;">(*)</span></mat-label>
            <input [disabled]="Loading" matInput formControlName="abbreviation" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('abbreviation')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <div>
            <hr>
        </div>
    </div>
</div>
<div mat-dialog-actions class="text-center block-full-width" style="display: block;">
    <button [disabled]="Loading" mat-stroked-button color="primary" (click)="dialogRef.close()">Cancelar</button>
    <button [disabled]="Loading" mat-raised-button color="primary" cdkFocusInitial
        (click)="eventoGuardar()">{{TituloButton}}</button>
</div>