<app-adm-header [descripcion]="'Registra una nueva venta y actualiza automáticamente el inventario.'" [breadcrumbs]="[
        { nombre: 'Ventas' },
        { nombre: 'Bandeja de Ventas', ruta: '/bandeja-ventas' },
        { nombre: 'Nueva Venta' }
    ]" [visible]="false" [rutaRegreso]="'/bandeja-ventas'">
</app-adm-header>
<div class="container-fluid">
  <div class="row g-3">
    <!-- CONTENIDO PRINCIPAL -->
    <div class="col-12 col-xl-9">
      <!-- INFORMACIÓN DE LA VENTA -->
      <app-sale-information [venta]="venta" [compania]="CompaniaActual" [clientesFiltrados]="clientesFiltrados"
        [clienteSeleccionado]="ClienteSeleccionado" [(textoCliente)]="textoCliente" (filtrarCliente)="filtrarCliente()"
        (seleccionarCliente)="seleccionarCliente($event)" (nuevoCliente)="eventoMostrarPopupRegistrarCliente()"
        (cambiarSerie)="cambiarSerie()" (cambiarCondicionPago)="OnEventoCambiarCondicionPago()">
      </app-sale-information>
      <!-- SELECTOR DE PRODUCTOS -->
      <app-sale-product-selector [productosFiltrados]="productosFiltrados" [productoSeleccionado]="ProductoSeleccionado"
        [productoTemporal]="productoTemporal" [compania]="CompaniaActual" [(textoProducto)]="textoProducto"
        (filtrarProducto)="filtrarProducto()" (seleccionarProducto)="seleccionarProducto($event)"
        (agregarProducto)="OnEventoAgregarProducto()">
      </app-sale-product-selector>
      <!-- DETALLE DE PRODUCTOS -->
      <app-sale-detail [detallesVenta]="DetallesVenta" [compania]="CompaniaActual"
        (eliminarProducto)="OnEventoEliminarProducto($event)">
      </app-sale-detail>
    </div>
    <!-- RESUMEN -->
    <div class="col-12 col-xl-3">
      <app-sale-summary-nv [venta]="venta" [cantidadProductos]="DetallesVenta.length" [compania]="CompaniaActual"
        [loading]="Loading" (registrarVenta)="OnEventoGuardarVenta()">
      </app-sale-summary-nv>
    </div>
  </div>
</div>

<!-- POPUP PARA REGISTRAR CLIENTE -->
<!-- <app-popup-registrar-cliente *ngIf="MostrarPopupRegistrarCliente()" (cerrar)="eventoCerrarPopupRegistrarCliente()"
  (clienteRegistrado)="eventoClienteRegistrado($event)">
</app-popup-registrar-cliente> -->