<app-adm-header [descripcion]="'Consulta y administra las compras registradas en el sistema'"
    [breadcrumbs]="[{nombre:'Compras'},{nombre:'Bandeja de compras'}]" [visible]="true" [textoBoton]="'Nueva compra'"
    (accionNuevo)="Navegar('bandeja-compras/nueva-compra')" [rutaRegreso]="'/inicio'">
</app-adm-header>
<app-purchase-summary [summary]="Resumen">
</app-purchase-summary>

<app-purchase-filters [filter]="Filtro" [suppliers]="ListaProveedores" (search)="OnSearchFiltro()"
    (supplierChange)="OnSupplierChange()" (statusChange)="onStatusChange()" (clear)="clearFilters()">
</app-purchase-filters>

<app-purchase-timeline [purchases]="ListaCompras" [loading]="Loading" (view)="OnEventoVerDetalle($event)"
    (cancel)="OnEventoCancelar($event)" (cancel)="null">
</app-purchase-timeline>